@use"./../utils/colors";

footer {
    background-color: colors.$darkgrey;
    padding: 1rem 2rem;
    color: white;
    h2 {
    font-family: "shrikhand", sans-serif;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.2rem;
    }
   

.footer_list {
        list-style: none;
        margin-top: 0;
        padding-left: 1rem;
      }
.footer_list li {
    margin: 0.5rem 0;
}
.footer_list li {
    margin-top: 0;
}
}
