header {
    font-family: "shrikhand", cursive;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 /25%);
    padding: 1rem;
    margin: 0;
    position: relative;
  }